.wrapper-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 30px;
    border-radius: 5px;
    align-items: center;
   
}

.page-title{
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}

.datediv{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}

.text{
    max-width: 100px;
}

.input-field, .input-field1{

    margin-top: 10px;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid var(--secondary);
    padding: 10px;
    color: var(--light);
    background-color: var(--secondary);
    border-radius: 5px;
    width: 30%;

}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.submit{
    margin-top: 10px;
    background-color: #ffffff;
    border: none;
    text-align: center;
    border-radius: 5px;
    color: var(--dark);
    cursor: pointer;
    height:40px; 
    width:200px;
}