.wrapper-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding: 30px;
    border-radius: 5px;
    align-items: center;
   
}

.number-div{
    max-width: 50%;
    padding-bottom: 5px;
   
}

.radio-label{
    margin-left: 10px;
    padding-bottom: 5px;
}

.submit{
    margin-top: 10px;
    background-color: #40b930;
    border: none;
    text-align: center;
    border-radius: 5px;
    color: var(--light);
    cursor: pointer;
    height:40px; 
    width:200px;
}

.under-title{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
}

.form-field{
    border: none;
    margin-top: 2px;
    margin-bottom: 2px;
}

.mobilepay-logo, .swish-logo, .vipps-logo{
    width: 64px;
    height: 64px;
    margin-right: 25px;
    border-radius: 50%;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}


.payment-options{
    display: flex;
    flex-direction: column;
}
.mobilepaydiv, .swishdiv, .vippsdiv{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}

.countrycode{
    flex-direction: row;
}

.member-text{
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 30px;
}

.image-row{
  display: flex;
  flex-direction: row;
}

.text-display{
  width: 30%;
}


/*checkbox styling from https://www.w3schools.com/howto/howto_css_switch.asp*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
 
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #3af321;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #3af321;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /*Styling ends here*/

