.wrapper-div{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.currencies{
    margin-top: 15px;
}

.page-title{
    margin-top: 10px
}

.text{
    color: gray;
}

.currency-selector{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid var(--secondary);
    border-radius: 25px;
    vertical-align: middle;
    margin-bottom: 10px;
    width: 25%;
}

.inner-right{
    color: gray;
    text-align: right;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 10px;
}

.inner-left{
    text-align: left;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.currency-selector:hover{
    opacity: 50%;
     cursor: pointer;
}

.currency-selector:active{
    opacity: 50%;
}

.currency-selector:focus{
    opacity: 50%;
}

.active {
    border: 3px solid white;
}

.confirm-btn{
    width: 25%;
}