.page-title{
    margin-top: 10px;
}

.all{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


.input-field, .input-field1{
    width: 30%;
}

.confirm-btn{
width: 15%;
margin-top: 10px;
}

label{
    margin-top: 5px;
}

.text{
    color: gray;
}