
.wrapper-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    padding-top: 20px;
    align-items: center;
    width: 100%;
}

.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
}

ul:before{
    content:attr(aria-label);
    font-size:120%;
    font-weight:bold;
    margin-left:-15px;
    margin-bottom: 15px;
}

li{
    width: 100%; 
    color:darkgray; 
    margin:0; 
    padding:0; 
    border:none; 
    border-left: 0px !important;
}
