.grade-button{
    background-color: var(--secondary);
    border: none;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: var(--light);
    cursor: pointer;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 5px;
    margin-right: 10px;
}

.page-title{
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    padding: 15px;
}

.wrapper-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    padding: 30px;
    border-radius: 5px;

}


.confirm-btn{
  width: 30%;
}

.grade-button:active, .grade-button:focus {
    opacity: 50%;
}

.highlight{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.under-text{ 
    color:darkgray; 

}

.input{
    margin-top: 10px;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid var(--secondary);
    padding: 10px;
    color: var(--light);
    background-color: var(--secondary);
    border-radius: 5px;
    width: 75%;
}

.hide{
    visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation-name: FadeIn;
  animation-duration: 3s;
  transition-timing-function: linear;
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes FadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
