@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--light);
}


:root{
    --light: #fdfffe;
    --dark: #131419;
    --secondary: #1f212d;
}

nav{
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--secondary);
}

.title-head-h1 {
    font-size: 28px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.title-head, .title-head:hover{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-head:hover{
    opacity: 50%;
}

main {
    background-color: var(--dark);
    min-height: 100vh;
}

button:hover{
    opacity: 50%;
}

input, textarea, select option, select{
    margin: 10px 0;
    border: 0px;
    border-bottom: 2px solid var(--secondary);
    padding: 10px;
    color: var(--light);
    background-color: var(--secondary);
    border-radius: 5px;
}

.confirm-btn{
    background-color: var(--secondary);
    border: none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 5px;
    background-color: var(--light);
    color: var(--dark);
    width: 10%;
}

.page-title{
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

.description{
    opacity: 50%;
    font-style: italic;
}